.w-img {
    display: block !important;
    width: 100% !important;
}

.w-block {
    display: block !important;
}

/* user */

#person-height30 {
    height: 20px;
    line-height: 20px;
    float: left;
    margin-top: 5px
}

.w-header-pro-icon {
    height: 18px;
    width: 42px;
    display: block;
    margin-top: 11px;
    margin-right: 20px;
    display: none;
}

.w-person-icon {
    height: 18px;
    width: 42px;
    display: block;
    margin-right: 65px;
}

.w-pro-private {
    margin-bottom: 5px;
    width: 254px;
    height: 36px;
    line-height: 36px;
    background-image: linear-gradient(180deg, #e6c58a 0%, #dfb676 50%, #d8a661 100%), linear-gradient( #f8f8f8, #f8f8f8);
    background-blend-mode: normal, normal;
    display: block;
    text-indent: .5em;
    font-size: 14px;
    color: #604419;
    font-family: 'Microsoft YaHei'
}

.w-pro-private img {
    display: block;
    width: 15px;
    margin: 11px 0 0 88px;
}

.w-recharge-pro-icon {
    height: 18px;
    margin-top: 16px;
    padding: 0 30px;
    display: none;
}

.w-recharge-pro-icon a {
    width: 42px;
    height: 18px;
    display: block;
    float: left;
    text-align: center;
    line-height: 18px;
}

.w-recharge-pro-icon a:first-child {
    margin-left: 68px;
}

.w-recharge-pro-icon a:nth-child(2) {
    margin-left: 10px;
    font-size: 12px;
    border-radius: 2px;
}

.w-recharge-pro-icon a:nth-child(2) img {
    display: none;
    width: 100%;
}

.w-recharge-pro-icon a:nth-child(2) img:nth-child(1) {
    display: block;
}

.w-recharge-pro-icon a:nth-child(2):hover img:nth-child(1) {
    display: none;
}

.w-recharge-pro-icon a:nth-child(2):hover img:nth-child(2) {
    display: block;
}

.recharge-warp .recharge-warp-center .person-center .recharge-list {
    padding-top: 25px;
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index {
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: #999999;
    cursor: pointer;
    margin-top: 5px
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index>a {
    color: #333333;
    font-size: 16px;
    display: inline-block;
    padding-left: 52px;
    width: 100%;
    height: 100%;
    transition: all .3s
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index:hover {
    background: rgba(38, 139, 239, .1)
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index:hover a {
    color: #268aef
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index:hover::after {
    background: url(img/user-index-icon-active.png) no-repeat center;
    background-size: cover
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 16px;
    left: 30px;
    width: 14px;
    height: 14px;
    background: url(img/user-index-icon.png) no-repeat center;
    background-size: cover
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index.recharge-active {
    background: rgba(38, 139, 239, .1) !important;
    color: #268aef !important
}

.recharge-active a {
    color: #268aef !important
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .recharge-list-index.recharge-active::after {
    background: url(img/user-index-icon-active.png) no-repeat center;
    background-size: cover
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .my-recharge.recharge-active {
    background: none !important;
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .my-recharge:hover a, .recharge-warp .recharge-warp-center .person-center .recharge-list .my-recharge.recharge-active a {
    color: #e6c58a;
    background: none;
    background-image: -webkit-linear-gradient( #e6c58a, #d8a661);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.recharge-warp .recharge-warp-center .person-center .recharge-list .my-recharge:hover::before, .recharge-warp .recharge-warp-center .person-center .recharge-list .my-recharge.recharge-active::before {
    background: url(img/my-recharge.png) no-repeat !important;
    background-size: 4px 8px !important;
}

.right-nav-pro {
    display: block;
    width: 54px;
    height: 54px;
    position: absolute;
    top: -77px;
    display: none;
}

.w-user-banner {
    display: block;
    width: 100%;
    height: 136px;
    text-align: center;
    font-size: 20px;
    line-height: 136px;
    color: #ffffff;
    border-radius: 3px;
    background-color: #999999;
}

.w-user-banner img {
    display: block;
    width: 100%;
    height: 136px;
}

.w-user-list {
    display: table;
    height: auto;
    width: 100%;
    padding: 20px 0;
    background-color: #f1f2f3;
}

.w-user-list li {
    float: left;
    width: 230px;
    height: 224px;
    margin-right: 10px;
    background-color: #ffffff;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.w-user-list li:nth-child(4n) {
    margin-right: 0;
    background-color: #f8fbfe;
}

.w-user-list-title {
    color: #333333;
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    margin: 28px 0 20px;
    text-align: center;
}

.w-user-list li:nth-child(1) img {
    display: block;
    width: 48px;
    height: 53px;
    margin: 0 auto;
}

.w-user-list li:nth-child(2) img {
    display: block;
    width: 52px;
    height: 47px;
    margin: 0 auto;
}

.w-user-list li:nth-child(3) img {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.w-user-list-name {
    color: #666666;
    width: 100%;
    font-size: 14px;
    text-align: center;
    height: 14px;
    position: absolute;
    bottom: 74px;
}

.w-user-list-name.no {
    color: #999999;
}

.w-user-list-btn {
    display: block;
    width: 110px;
    height: 36px;
    background-color: #268aef;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    position: absolute;
    bottom: 26px;
    left: 0;
    right: 0;
    margin: auto;
}

.w-user-list-btn.w-yi {
    background-color: #cccccc;
}

.w-qiandao {
    display: block;
    color: red;
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 14px;
    display: none;
}

.w-user-list-tip {
    display: inline-block;
    color: #cccccc;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    margin: auto;
    width: 56px;
    height: 12px;
}

.w-user-box {
    width: 345px;
    height: 336px;
    position: absolute;
    left: 28%;
    bottom: -80%;
    background-color: #f0f7fd;
    transform: rotate(45deg);
}

.w-user-list-btn.w-qian {
    bottom: 132px;
    display: none;
}

.w-user-list-qian {
    font-size: 14px;
    color: #666666;
    text-align: center;
    height: 14px;
    line-height: 14px;
    position: absolute;
    bottom: 91px;
    width: 100%;
}

.w-user-list-shop {
    font-size: 14px;
    line-height: 14px;
    display: block;
    width: 65px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 66px;
    color: #cccccc;
}

.w-user-breadnav {
    width: 100%;
    height: 70px;
    background-color: #f1f2f3;
}

.w-user-breadnav p {
    line-height: 50px;
    background-color: #fff;
    text-align: center;
    width: 95px;
    padding-left: 20px;
    font-size: 14px;
    color: #268aef;
    float: left;
}

.w-user-breadnav span {
    color: #eee;
    float: left;
    background: #fff;
    line-height: 50px;
}

.w-user-breadnav ul {
    width: 850px;
    display: block;
    float: left;
    height: 50px;
    background: #fff;
    padding-left: 20px;
}

.w-user-breadnav ul li {
    width: auto;
    float: left;
    margin-right: 40px;
}

.w-user-breadnav ul li a {
    display: block;
    line-height: 50px;
    font-size: 14px;
    color: #cccccc;
}

.w-user-breadnav ul li a:hover {
    color: #268aef;
}

.w-user-breadnav ul li a img {
    display: block;
    float: left;
    margin-right: 10px;
}

.w-user-breadnav ul li:nth-child(1) a img {
    width: 14px;
    height: 17px;
    margin-top: 17px;
}

.w-user-breadnav ul li:nth-child(2) a img {
    width: 15px;
    height: 15px;
    margin-top: 18px;
}

.w-user-breadnav ul li:nth-child(3) a img {
    width: 15px;
    height: 16px;
    margin-top: 17px;
}

.w-user-breadnav ul li:nth-child(4) a img {
    width: 12px;
    height: 15px;
    margin-top: 16px;
}

.w-free-recom {
    width: 100%;
    height: 346px;
    padding: 0 30px;
    background: #fff;
}

.w-free-recom-title {
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    margin-top: 20px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
}

.w-free-recom-title span {
    background: #008af7;
    width: 3px;
    height: 14px;
    border-radius: 1.5px;
    display: block;
    float: left;
    margin-right: 10px;
}

.w-free-recom-title a {
    display: block;
    font-size: 14px;
    width: 80px;
    color: #cccccc;
}

.w-free-recom-title a:hover {
    color: #999999;
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    padding-bottom: 20px
}

.swiper-container .swiper-slide {
    width: 283px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #eeeeee;
    padding: 0;
    margin: 0;
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container .swiper-slide a.w-slide-link {
    display: block;
}

.swiper-container .swiper-slide a img.w-slide-img {
    display: block;
    width: 283px;
    height: 210px;
}

.swiper-container .swiper-slide a p {
    width: 283px;
    display: block;
    text-align: center;
    padding: 0 20px;
    color: #333333;
    font-size: 14px;
    line-height: 25px;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-container p.w-slide-tib {
    height: 22px;
    margin-top: 0;
    margin-bottom: 10px;
    position: relative;
}

.swiper-pagination {
    bottom: 0px !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 4px !important;
    background-color: #268aef !important;
    border-radius: 2px !important;
    opacity: 0.26 !important;
}

.swiper-pagination-bullet-active {
    width: 18px !important;
    height: 4px !important;
    background-color: #268aef !important;
    border-radius: 2px !important;
    opacity: 1 !important;
}

.w-slide-tib span {
    display: inline-flex;
    font-size: 12px;
    line-height: 22px;
    color: #999999;
}

.w-slide-tib span img {
    margin-right: 6px;
}

.w-slide-tib span.w-slide-tib span img {
    margin-right: 6px;
    display: block;
}

.w-slide-tib span.w-slide-name img {
    width: 15px;
    height: 13px;
    margin-top: 5px;
}

.w-slide-tib span.w-slide-count {
    margin-left: 80px;
}

.w-slide-tib span.w-slide-count img {
    width: 14px;
    height: 10px;
    margin-top: 6px;
}

.w-slide-tib span.w-slide-down {
    margin-left: 18px;
}

.w-slide-tib span.w-slide-down img {
    width: 12px;
    height: 12px;
    margin: 5px;
}

/* pro购买 */

.w-pro-message {
    width: 100%;
    height: 140px;
    background-size: 100%;
    display: none;
}

.w-pro-message.w-pro-message-no {
    background: url(img/w-pro-message1.png) center no-repeat;
}

.w-pro-message.w-pro-message-to {
    background: url(img/w-pro-message2.png) center no-repeat;
}

.w-pro-message-fl {
    width: 50%;
}

.w-pro-message-fr {
    display: block;
    width: 136px;
    height: 48px;
    background-image: linear-gradient(180deg, #e6c58a 0%, #dfb676 50%, #d8a661 100%), linear-gradient( #268aef, #268aef);
    background-blend-mode: normal, normal;
    border-radius: 4px;
    line-height: 48px;
    text-align: center;
    font-size: 18px;
    color: #603d06;
    margin: 46px 72px 0 0;
}

.w-pro-message-name {
    line-height: 36px;
    margin-top: 32px;
    padding-left: 48px;
    font-size: 22px;
    color: #e5c287;
    font-weight: bold;
}

.w-pro-message-time {
    padding-left: 48px;
}

.w-pro-message-time span {
    color: rgba(255, 255, 255, .38);
    line-height: 32px;
    float: left;
}

.w-pro-message-time span:nth-child(2) {
    height: 10px;
    width: 1px;
    display: block;
    margin: 0px 16px 0;
    color: rgba(255, 255, 255, .2)
}

.w-pro-purchase-container {
    padding: 0 30px;
    position: relative;
}

.w-pro-purchase-menu {
    margin-top: 26px;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eeeeee;
}

.w-pro-purchase-nav {
    display: block;
    width: auto;
    font-size: 16px;
    color: #666;
    padding: 0 2px 22px;
    margin-right: 42px;
    float: left;
    line-height: 16px;
}

.w-pro-purchase-nav.w-active {
    color: #e5c287;
    border-bottom: 2px solid #c58a12
}

.w-pro-purchase-qq {
    width: 88px;
    height: 28px;
    border-radius: 4px;
    border: solid 1px rgba(197, 138, 18, .25);
    display: block;
    position: absolute;
    top: 56px;
    right: 30px;
}

.w-pro-purchase-qq:hover {
    background-image: linear-gradient(180deg, #e6c58a 0%, #dfb676 50%, #d8a661 100%), linear-gradient( #c58a12, #c58a12);
}

.w-pro-purchase-qq img {
    width: 16px;
    height: 14px;
    margin: 7px 7px 0 8px;
}
.w-pro-purchase-qq img:nth-child(2),.w-pro-purchase-qq:hover img:nth-child(1){
    display: none;
}
.w-pro-purchase-qq:hover img:nth-child(2),.w-pro-purchase-qq:hover span{
    display: block;
    color: #603d06;
}
.w-pro-purchase-qq span {
    color: #c58a12;
    font-size: 12px;
    line-height: 28px
}
.w-pro-tequan-title{
    color: #333;
    font-size: 16px;
    line-height: 16px;
    padding-left: 8px;
    border-left: 3px solid #c58a12;
    margin-top: 30px;
}












































